Admission Requirements for College Graduates/Transferees:
Enrollment permit signed by College Dean/Director/Chairperson and Medical Officer (Original + 2 photocopies)
Certificate of Transfer Credential/Honorable Dismissal (Original + 2 photocopies)
College Admission Test (CAT) Result (Original + 2 photocopies)
Registration Form (Original + 2 photocopies)
Certified True Copy of Grades (Original + 2 photocopies)
Certificate of Good Moral Character (Original + 2 photocopies)
PSA Birth Certificate (Original + 2 photocopies)
Applicant's 2"x 2" photo with name tag

Admission Requirements for Senior High School Graduates:
Enrollment permit signed by College Dean/Director/Chairperson and Medical Officer (Original + 2 photocopies)
College Admission Test (CAT) Result (Original + 2 photocopies)
Registration Form (Original + 2 photocopies)
Senior High School Card/SF-9 (Original + 2 photocopies)
Certificate of Good Moral Character (Original + 2 photocopies)
PSA Birth Certificate (Original + 2 photocopies)
Applicant's 2"x 2" photo with name tag